<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Produtos</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %> <br>
    <table>
        <tr>
            <th>Nome do Produto:</th>
            <th>Categoria:</th>
            <th>Preço:</th>
        </tr>
        <% listaProdutos.forEach((listaProdutos) => { %>
        <tr>
            <td><%= listaProdutos.nomeProduto %></td>
            <td><%= listaProdutos.categoria %></td>
            <td><%= listaProdutos.preco %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>