<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pedidos</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %> <br>
    <table>
        <tr>
            <th>Número:</th>
            <th>Valor:</th>
        </tr>
        <% listaPedidos.forEach((listaPedidos) => { %>
        <tr>
            <td><%= listaPedidos.numeroPedido %></td>
            <td><%= listaPedidos.valor %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>