<nav class="navbar navcolor">
    <ul class="navbar-link navcolor">
        <li class="navcolor">
            <a class="navcolor" href="/">Home</a>
        </li>
        <li class="navcolor">
            <a class="navcolor" href="/clientes">Clientes</a>
        </li>
        <li class="navcolor">
            <a class="navcolor" href="/produtos">Produtos</a>
        </li>
        <li class="navcolor">
            <a class="navcolor" href="/pedidos">Pedidos</a>
        </li>
    </ul>
</nav>